html,
body {
  margin: 0px;
  height: 100%;
}
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://i.postimg.cc/NFvDFBFg/Whats-App-Image-2024-05-28-at-10-54-59-PM.jpg");
  background-size: 100vh 100vh;
  background-size: cover;
  z-index: -1;
  animation: untoldcoding 55s infinite ease-in-out;
}

@keyframes untoldcoding {
  0% {
    background-image: url("https://i.postimg.cc/0yXCmpjX/Whats-App-Image-2024-05-28-at-10-55-00-PM.jpg");
  }
  25% {
    background-image: url("https://i.postimg.cc/tTWdLw58/Whats-App-Image-2024-05-28-at-10-52-39-PM-2.jpg");
  }
  50% {
    background-image: url("https://i.postimg.cc/BbCTvFRg/Whats-App-Image-2024-05-28-at-10-52-39-PM-1.jpg");
  }
  80% {
    background-image: url("https://i.postimg.cc/Qx0gGpQN/Whats-App-Image-2024-05-28-at-10-52-39-PM.jpg");
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: cursive;
}
